table {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
}

body {
	
	padding: 20px;
	 display: block;
    margin-left: auto;
    margin-right: auto 

 background-color: white;     text-align: center;     height: 100%;     width: 100%;     overflow: hidden;
  
    
}